html {
	background: black;
	color: white;
}

* {
	font-family: monospace;
}

h1 {
	text-align: center;
}

.line-color {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(
		45deg,
		hsl(193deg 100% 49%) 0%,
		hsl(164deg 100% 44%) 50%,
		hsl(50deg 100% 50%) 100%
	);
	mix-blend-mode: multiply;
	pointer-events: none;
	z-index: 1;
}

.line-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.line-container svg {
	overflow: visible;
	filter: drop-shadow(0 0 0.5rem #777);
	transform: scale(1, -1);
}

.line-container span {
	font-family: monospace;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 4rem;
	opacity: 0.25;
}

.line-container .minX {
	top: 50%;
	transform: translateY(-50%);
	left: 1rem;
}
.line-container .maxX {
	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
}

.line-container .minY {
	left: 50%;
	transform: translateX(-50%);
	top: 1rem;
}
.line-container .maxY {
	left: 50%;
	transform: translateX(-50%);
	bottom: 1rem;
}

.controls {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}

.iter-input-container {
	margin-bottom: 1rem;
}

.point-input-container {
	display: flex;
	gap: 1rem;
	margin-bottom: 0.5rem;
}

.point-input-container input {
	width: 4rem;
}
